<div class="container">
    <button class="button is-primary" (click)="goBack()">
        <i class="material-icons md-48">arrow_back_ios</i>
        Voltar
    </button>
</div>

<section class="section">
    <div class="container content">
        <h1>Agradabilidade</h1>
        <p>Agradabilidade é a tendência para se comportar de forma compassiva e cooperativa, ao invés de desconfiado e
            arisco com os outros. Este traço reflete diferenças individuais na preocupação com a harmonia social.
            Indivíduos “agradáveis” valorizam a boa relação com os outros, sendo, em geral, respeitosos, amigáveis,
            generosos, prestativos e dispostos a fazer compromissos. Elas têm também uma visão otimista da natureza
            humana. Sempre assumem a premissa de que as pessoas são honestas, decentes e confiáveis. Por outro lado, os
            indivíduos “não-agradáveis” colocam o interesse próprio acima do dos outros; não se preocupam com o
            bem-estar dos outros, tornando-os, às vezes, desconfiados e pouco cooperativos devido a esse seu ceticismo.
        </p>
        <div class="chart" id="agreeableness"></div>

        <h1>Conscienciosidade</h1>
        <p>Conscienciosidade é a tendência a mostrar autodisciplina, orientação para os deveres e metas. Este traço
            mostra uma preferência pelo comportamento planejado em vez do espontâneo. Influenciando a maneira como eles
            controlam e direcionam seus impulsos.
        </p>
        <div class="chart" id="conscientiousness"></div>

        <h1>Neuroticismo ou Instabilidade Emocional</h1>
        <p>Neuroticismo também costuma ser conhecida como Instabilidade Emocional, devido à tendência dessas pessoas a
            buscar experiencias emocionais negativas, como raiva, ansiedade ou depressão. Um alto grau de neuroticismo
            está correlacionado a indivíduos reativos e vulneráveis ao stress. Dessa forma, tornam-se mais predispostos
            a interpretar situações normais como ameaçadoras, e pequenas frustrações como dificuldades sem esperança.
            Suas reações emocionais negativas tendem a persistir por períodos anormalmente longos, o que significa que
            eles estão, usualmente, de mau humor. Esses problemas na regulação emocional podem diminuir a capacidade
            dessas pessoas para pensar claramente, tomar decisões e lidar de forma apropriada com o stress. No outro
            extremo da escala, indivíduos com baixo neuroticismo são mais difíceis de serem perturbados e são,
            emocionalmente, menos reativos. Eles tendem a ser calmos, emocionalmente estáveis, e livres de sentimentos
            negativos persistentes; no entanto, a escassez de sentimentos negativos não significa necessariamente que
            estes indivíduos experimentem muitos sentimentos positivos.</p>
        <div class="chart" id="emotional_stability"></div>

        <h1>Extroversão</h1>
        <p>Extroversão é caracterizada por expressar mais emoções positivas e pela tendência de procurar estimulação e
            companhia dos outros, sendo marcado pelo profundo envolvimento com o mundo exterior. Os extrovertidos gostam
            de estar com pessoas, e são, usualmente, vistos como sendo cheios de energia, entusiasmados e ativos. São
            estes indivíduos que são mais dispostos a responderem convites com “Sim!”, “Partiu!” ou “Vamos lá!” quase
            instantaneamente, se a oportunidade se mostrar excitante. Nos grupos tendem a ser faladores, assertivos e o
            centro das atenções. Já no seu oposto, os introvertidos, não têm essa exuberância social e os mesmos níveis
            de atividade dos extrovertidos. Sendo conhecidos por parecerem calmos, ponderados e menos envolvidos com o
            mundo social. A sua falta de envolvimento social não deve ser interpretada como timidez ou depressão, eles
            simplesmente necessitam de menos estimulação e de mais tempo sozinhos do que os extrovertidos. Esses
            indivíduos podem ser bastante ativos e enérgicos, mas não socialmente.</p>
        <div class="chart" id="extraversion"></div>

        <h1>Abertura para a experiência</h1>
        <p>Abertura é o interesse pela arte, emoção, aventura, ideias fora do comum, imaginação, curiosidade, e
            variedade de experiências. Este traço distingue as pessoas imaginativas das “pé no chão” ou convencionais.
            As pessoas com elevada abertura são intelectualmente curiosas, apreciadoras de arte, e sensíveis à beleza.
            Quando comparadas às pessoas “fechadas” são tidas como mais criativas, mais atentas aos sentimentos e
            propensas a “pensar fora da caixa”. Essas pessoas com baixo grau de abertura, por contraste, buscam
            interesses mais convencionais e tradicionais. Por isso, preferem, em geral, o simples, claro e óbvio ao
            complexo, ambíguo e subtil. Em alguns casos, podem chegar a ver as artes e ciências com suspeitas ou
            achá-las desinteressantes.</p>
        <div class="chart" id="intellect_imagination"></div>
    </div>
</section>