<section class="section">
    <div class="container content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p class="control">
                <input class="input" type="text" placeholder="Código de acesso" formControlName="userCode">
            </p>
            <br>
            <div class="control">
                <div class="buttons">
                    <button type="submit" class="button is-primary is-medium">
                        Continuar formulário
                    </button>

                    <button type="button" (click)="createNewCode()" class="button is-link is-medium">
                        Criar um novo formulário
                    </button>
                </div>
            </div>
        </form>

        <br>

        <h1 class="title">Personalidade, emoção e aprendizado</h1>
        <p>
            Este é um sistema desenvolvido para a disciplina IA369-Y ministrada na Faculdade de Engenharia Elétrica e de
            Computação da Universidade Estadual de Campinas | UNICAMP.
        </p>

        <h1 class="title">Experimento</h1>
        <ul>
            <li>Condução de um teste de personalidade utilizando o modelo O.C.E.A.N.;</li>
            <li>Utilização de jogos digitais para ensino de 3 conceitos diferentes, cada um estimulando uma emoção
                diferente (Modelo de emoção escolhido: OCC)</li>
            <li>Uso de questionários pré/pós jogo para inferir nível de conhecimento do jogador e seu aprendizado</li>
        </ul>

        <h1 class="title">Dicas</h1>
        <ul>
            <li>Responda as perguntas com honestidade.</li>
            <li>Responda com base no seu estado atual de personalidade, não projete o que gostaria de ser no futuro.</li>
            <li>Sua resposta espontânea é geralmente a mais adequada</li>
        </ul>
    </div>
</section>