<div class="container">
    <button class="button is-primary" (click)="goBack()">
        <i class="material-icons md-48">arrow_back_ios</i>
        Voltar
    </button>
</div>

<section class="section">
    <div class="container">
        <article class="message is-primary">
            <div class="message-body">
                Atenção o seu código é: <b>{{userId}}</b>, guarde o mesmo com cuidado! <br>
                Se tiver interesse, digite seu e-mail no formulário abaixo para que lhe enviemos uma cópia.<br>
                <b> Seus dados não serão salvos, a coleta do e-mail é somente para envio do código de retorno ao
                    formulário.</b>
            </div>
        </article>

        <form [formGroup]="emailForm" (ngSubmit)="sendMail()">
            <div class="columns">
                <div class="column is-10">
                    <input class="input" type="email" name="email" formControlName="email" placeholder="E-mail" />
                </div>
                <div class="column is-2">
                    <button type="button" type="submit" class="button is-link is-medium">
                        Enviar lembrete
                    </button>
                </div>
            </div>
        </form>
    </div>
    <br>


    <div class="container">
        <h1 class="title">Pendentes</h1>
        <div class="columns is-multiline">
            <div *ngFor="let quiz of quizList" class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{quiz.title}}
                        </p>
                    </header>
                    <div class="card-content">
                        <p>{{quiz.description}}</p>
                        <b>Quantidade de Questões: </b> {{quiz.questions.length}}
                    </div>
                    <footer class="card-footer">
                        <a (click)="navigateToQuiz(quiz.id, quiz)" class="card-footer-item" disabled>Iniciar</a>
                    </footer>
                </div>
            </div>
        </div>

        <h1 class="title">Respondidos</h1>
        <div class="columns is-multiline">
            <div *ngFor="let quiz of answerList" class="column is-one-third">
                <div *ngIf="quiz.quiz_name ==='Teste de Personalidade'" class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{quiz.quiz_name}}
                        </p>
                    </header>
                    <footer class="card-footer">
                        <div class="card-footer-item"></div>
                        <a (click)="oceanResult(quiz)" class="card-footer-item">Resultados</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>