<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Personalidade, Emoção e Aprendizado</strong> - Gabriel Natucci | Marcelo Rigon | Nathan Ribeiro.
            <br>
            O código fonte é licenciado sob os termos da licensa 
            <a href="http://opensource.org/licenses/mit-license.php" target="blank">MIT</a>. 
        </p>
    </div>
</footer>