<div class="container">
    <button class="button is-primary" (click)="goBack()">
        <i class="material-icons md-48">arrow_back_ios</i>
        Voltar
    </button>
</div>

<section class="section">
    <div class="container" *ngIf="quizzes">
        <h1 class="title">{{quizzes.title}}</h1>
        <br>
        <countup-timer></countup-timer>
        <div class="columns">
            <div class="column is-10">
                <div>{{answers.length}} de {{totalOfQuestions}} - {{(answers.length / totalOfQuestions) | percent}}
                </div>
                <progress class="progress is-primary" value="{{answers.length}}" max="{{totalOfQuestions}}"></progress>
            </div>
            <div class="column is-2">
                <button class="button is-primary is-large" [disabled]="answers.length !== totalOfQuestions"
                    (click)="saveAnswer()">Enviar</button>
            </div>
        </div>
        <form *ngIf="quizzes">
            <div *ngFor="let question of questionOnPage" class="content">
                <p class="has-text-weight-medium is-size-4">{{question.text}}</p>
                <div *ngIf="getSize(question.question_type.options); else elseBlock">
                    <textarea class="textarea" placeholder="Descreva sua resposta."
                        (input)="addTextAnswer(question._id.$oid, $event.target.value)">{{ checkTextValue(question._id.$oid) }}</textarea>
                </div>

                <ng-template #elseBlock>
                    <div *ngFor="let options of getKeys(question.question_type.options); let i = index" class="control">
                        <label class="radio">
                            <input type="radio" name="{{question._id.$oid}}"
                                [checked]="checkValue(question._id.$oid, i+1)" [value]="i+1"
                                (change)="addAnswser(question._id.$oid, i+1)">
                            {{options}}
                        </label>
                    </div>
                </ng-template>
            </div>
        </form>
        <br>
        <jw-pagination [items]="quizzes.questions" [pageSize]="4" (changePage)="onChangePage($event)"></jw-pagination>

    </div>
</section>