<section class="hero is-small is-primary is-bold">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            <i class="material-icons md-48">sentiment_very_satisfied</i>
            <span class="is-size-4">&nbsp; IA369Y - Affective Computing</span>
          </div>

        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Personalidade, Emoção e Aprendizado
      </h1>
      <h2 class="subtitle">
        Gabriel Natucci | Marcelo Rigon | Nathan Ribeiro
      </h2>
    </div>
  </div>
</section>